<div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th>name</th>
              <th>address</th>
              <th>phone</th>
              <th>email</th>
              <th>birthday</th>
              <th>gender</th>
              <th>balance</th>
              <th>key</th>
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of participants">
              <td>{{user.name}}</td>
              <td>{{user.address}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>{{user.birthday}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.balance}}</td>
              <td>{{user.key}}</td>
              <td>
                  <button type="button" class="btn btn-warning" ng-click="console.log('go on')">Edit</button>
                  <button type="button" class="btn btn-danger">Danger</button>
              </td>
          </tr>
      </tbody>
    </table>
</div>

<script>
  console.log("hello world")
</script>